<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	<link href="{{ url_for("static",filename="styles/style.css") }}" rel="stylesheet" type="text/css"/>
	<link href="{{ url_for("static",filename="assets/homeFont.css") }}" rel="stylesheet" type="text/css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<div id="home" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		<main role="main" class="inner cover">
			<div id="tagline" class="lead">
				<p>What would you like to donate?</p>
			</div><br/>
            {% if msg=="Error" %}
            <p id="err" style="display: inline">Error! Please provide more information.</p><br/>
            {% elif msg=="Success"%}
            <p id="succ" style="display: inline">Submitted successfully!</p><br/>
            {% endif %}
            <script type="text/javascript">
            $(document).ready(function() {
                $("form").on("submit", function(event) {
                    $.ajax({
                        url: "/donate",
                        data: $("form").serializeArray(),
                        type: "POST",
                        success: function(response) {
                            if JSON.stringify(response)["Message"] == "Error" {
                                $("#err").css("display","inline");
                                $("#succ").css("display","none");
                            } else {
                                $("#succ").css("display","inline");
                                $("#err").css("display","none");
                            }
                        }
                    })
                });
            });
            </script>
            <form action="{{ url_for("makeDonation") }}" class="form-inline" method="post"
                    role="form" enctype="application/json" style="width: min-content; display: inline">
                <input type="text" class="form-control" id="name" name="name" style="margin-bottom: 0.5em" placeholder="Item name">
                <br/>
                <input type="text" class="form-control" id="desc" name="desc" style="margin-bottom: 0.5em" placeholder="Item description">
                <br/>
                <input type="text" class="form-control" id="contact" name="contact" style="margin-bottom: 1em" placeholder="Enter contact information">
                <br/>
                <button type="submit" class="btn btn-lg btn-secondary">Submit</button>
            </form>
		</main>
	</div>
</body>